
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: bold;
    font-size: 20px;
}

.links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; 
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-right: 10px;
}

.search-form input[type="submit"], 
.search-form input[type="reset"] {
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
}


.hero {
    background-image: url('https://wallpapershome.com/images/pages/pic_h/378.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
}

.social-icons {
    margin-left: 20px;
}

.social-icon {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}



.contact-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 500px;
    width: 400px;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-form form {
    width: 100%;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block; 
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #555;
}

.recommendations-container {
    position: absolute;
    top: 80px;
    left: calc(50% + 750px); /* Adjust the value to push it further right */
    transform: translateX(-50%);
    width: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; 
}


.recommendations-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 200px;
}
